@model IEnumerable<TravelAgencyBusinessLogic.ViewModels.HotelAvailableViewModel>

@{
    ViewData["Title"] = "Список отелей";
}

<div class="text-left">
    <h4>@ViewBag.GuideThemeName</h4>
</div>

<hr />
<div class="text-left">
    <h6>@ViewBag.Count гидов в наличии</h6>
</div>
<hr />

<table class="table table-striped table-bordered">
    <thead class="thead thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td class="text-center">
                    <a class="btn btn-primary btn-sm" asp-controller="Hotel"
                       asp-action="ReserveGuides" asp-route-hotelId="@item.HotelId"
                       asp-route-guideId="@ViewBag.GuideId" asp-route-count="@ViewBag.Count"
                       asp-route-requestId="@ViewBag.RequestId">
                        Зарезервировать
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
