@model IEnumerable<TravelAgencyBusinessLogic.ViewModels.RequestViewModel>
@{
    ViewData["Title"] = "Заявки";
}

@section Links {
    <div class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Hotel" asp-action="ListHotels">Отели</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Supplier" asp-action="Logout">Выход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="BackUp" asp-action="BackUp">Бэкап</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-action="Report">Отчет по гидам</a>
            </li>
        </ul>
    </div>
}

<div class="text-left">
    <h4> Список заявок</h4>
</div>

<hr />
<div class="text-left">
    <h6>Поставщик - @Program.Supplier.SupplierFIO</h6>
</div>
<hr />

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status == TravelAgencyBusinessLogic.Enums.RequestStatus.Выполняется)
                    {
                        <a class="btn btn-outline-light btn-sm" asp-action="RequestView" asp-route-id="@item.Id">Просмотр заявки</a>
                    }
                    @if (item.Status == TravelAgencyBusinessLogic.Enums.RequestStatus.Создана)
                    {
                        <a class="btn btn-outline-light btn-sm" asp-action="AcceptRequest" asp-route-id="@item.Id">Принять в обработку</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

