@model IEnumerable<TravelAgencyBusinessLogic.ViewModels.HotelViewModel>
@{
    ViewData["Title"] = "Отели";
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Request" asp-action="Request">Список заявок</a>
            </li>
        </ul>
    </div>
}

<div class="text-left">
    <h4>Список отелей</h4>
</div>

<hr />

<div class="text-left">
    <h6>Поставщик - @Program.Supplier.SupplierFIO</h6>
</div>

<p>
    <a class="btn btn-primary d-block mx-auto" asp-action="CreateHotel">Добавление Отеля</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id" asp-r>Выбрать</a>|
                    <a class="btn btn-primary btn-sm" asp-action="ChangeHotel" asp-route-id="@item.Id">Изменить</a>|
                    <a class="btn btn-primary btn-sm" asp-action="DeleteHotel" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

